{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Home | Placement Desk{% endblock %}

{% block body %}


<div class="bg-white-100 p-10 h-full" id="top">
    <h1 class="font-mono md:text-sm" style="font-size: 1.5rem;
    color: rgb(246, 162, 66); padding-bottom: 20px;"> <b> <u> Placement Experience: </u></b></h1>

<form action="" method="get">
    <input type="text" name="search-area" class="searchbox" placeholder="Enter Company name" value="{{searchInput}}">
    <input type="submit" class="searchbtn "value="Search">
</form> 

    {% for post in posts %}

    
    <!-- component -->
<div class="max-w-6xl px-10 mx-auto my-4 py-6 bg-white rounded-lg shadow-md" style="">
    <div class="flex justify-between items-center">
        <span class="font-light text-gray-600">{{ post.date|date:"F,j,Y,g:i:a" }}</span>

    </div>
    <div class="mt-2" style="overflow:scroll;">
        <a class="text-2xl text-gray-700 d:flex font-bold hover:text-gray-600" href="#">{{ post.CompanyName }}</a>
        <p class="mt-2 text-gray-600">{{ post.Experience|slice:':99' }} ....</p>
    </div>
    <div class="flex justify-between items-center mt-4" style="">
    


        <a class="text-blue-600 hover:underline" href="{% url 'feed:detail' post.id %}">Know more</a>

        
        <!-- feed and detail in the href stated as feed:detail comes from the urls file.. there the appname is feed and name of the path is detail -->
        <div >
            <a class="flex items-center" >
                <h1 class="text-gray-700 font-bold"><i class='bx bxs-user'></i> &nbsp;{{post.author.username|title}}</h1>
            </a>
        </div>
    </div>
</div>

<!-- <hr> -->

{% endfor %}
<div class="gotop">
    <a href="#top" class='gotop'>
    <div>
        <i class='bx bxs-upvote'></i></i>
    </div>
    </a>
</div>
</div>



    
{% endblock %}



    

